<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="responsive.css" />
    <title>Reporte</title>
</head>

<body>
    <header id="header">
        <div class="center">
            <div id="logo">
                <h2>Analizador html</h2>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>
    <section id="content">
        <h2 class="subtitle">Errores encontrados</h2>
        <div id="tasks"><br><br>
            <table class="card">
                <tr>
                    <th>No</th>
                    <th>Fila</th>
                    <th>Columna</th>
                    <th>Descripcion</th>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>